
html{
    justify-content: center;
    height: 100%;
    display: flex;
    align-content: center
}
.two-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-content: center;
    justify-content: center;
}
body, div, h1, form, input, p, table {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    text-align: center;
}
h1 {
    padding: 20px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}
p {
    font-size: 12px;
}
hr {
    color: #a9a9a9;
    opacity: 0.3;
}
.main-block {
    max-width: 340px;
    min-width: 340px;
    min-height: 350px;
    max-height: 350px;
    padding: 10px 0;
    margin: auto;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    background: #ebebeb;
}
.table-block {
    overflow: scroll;
    max-height: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}
.analyze-block {
    min-width: 680px;
    max-width: 680px;
    max-height: 65px;
    padding: 25px 0;
    margin: auto;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    background: #ebebeb;
}
form {
    margin: 0 30px;
    text-align: left;
}
label#icon {
    margin: 0;
    border-radius: 5px 0 0 5px;
}
input[type=text], input[type=number], table{
    width: 100%;
    height: 36px;
    margin: 8px 0;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #fff;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
#icon {
    display: inline-block;
    padding: 9.3px 15px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #1c87c9;
    color: #fff;
    text-align: center;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
button {
    display: block;
    width: 75%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
label {
    text-align: left;
}
button:hover {
    background: #26a9e0;
}
